@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
}
#header1-1 P {
  color: #27aae0;
  text-align: left;
}
#header1-1 DIV {
  text-align: right;
}
#header1-1 H1 {
  text-align: center;
}
#header1-1 I {
  text-align: left;
}

#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-5 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
}
#header1-6 H1 {
  color: #1abc9c;
}
#header1-6 P {
  color: #1abc9c;
}
#header1-7 P {
  color: #27aae0;
  text-align: left;
}
#header1-7 DIV {
  text-align: right;
}
#header1-7 H1 {
  text-align: center;
}
#header1-7 I {
  text-align: left;
}
#header1-8 H1 {
  color: #1abc9c;
}
#header1-8 P {
  color: #1abc9c;
}
#header1-9 P {
  color: #27aae0;
  text-align: left;
}
#header1-9 DIV {
  text-align: right;
}
#header1-9 H1 {
  text-align: center;
}
#header1-9 I {
  text-align: left;
}

#menu-a .mbr-brand__name {
  font-size: 16px;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-a .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
}
#header1-b H1 {
  color: #27aae0;
}
#header1-b P {
  color: #27aae0;
}
#header1-c P {
  color: #27aae0;
  text-align: left;
}
#header1-c DIV {
  text-align: right;
}
#header1-c H1 {
  text-align: center;
}
#header1-c I {
  text-align: left;
}

#menu-d .mbr-brand__name {
  font-size: 16px;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-d .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
}

#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-g .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
}
#msg-box1-i .mbr-header .mbr-header__text {
  color: #fff;
  font-size: 10px;
}
#msg-box1-i .mbr-article {
  color: #fff;
}
#msg-box1-i .mbr-header .mbr-header__text DIV {
  font-size: 14px;
  color: #3d8eb9;
}
